
# Fish shell entries to ignore
nixos/backup
**/**/history.txt
result/
nixos.*
docs/

# Python cache & temporary files
**/__pycache__/
**/.idk
.ruff_cache

# Live uncommitted config workspace
config.live/
