// =============================================================================
//  Shoelace Modular Appearance (sl_appearance.kdl)
// =============================================================================

layout {
    struts {
        top {{ gaps.top }}
        bottom {{ gaps.bottom }}
        right {{ gaps.right }}
        left {{ gaps.left }}
    }
}

window-rule {
    geometry-corner-radius {{ geometry.border_radius }}
    clip-to-geometry true

    border {
        on
        width {{ geometry.border_width }}
    }

    focus-ring {
        off
        width {{ geometry.border_width }}
    }
}

{% for r in window_rules %}
window-rule {
    match {{ r.match }}
    opacity {{ r.opacity }}
    draw-border-with-background {{ r.draw_border_with_background }}
{% if r.shadow_softness is defined %}
    shadow {
        on
        softness {{ r.shadow_softness }}
        spread {{ r.shadow_spread }}
        offset x={{ r.shadow_offset_x }} y={{ r.shadow_offset_y }}
    }
{% endif %}
}
{% endfor %}
