// =============================================================================
//  Wallust Generated Niri Appearance & Border Colors
// =============================================================================

layout {
    background-color "{{color0}}"

    border {
        active-color "{{color4}}"
        inactive-color "{{color8}}"
        urgent-color "{{color1}}"
    }

    focus-ring {
        active-color "{{color4}}"
        inactive-color "{{color8}}"
        urgent-color "{{color1}}"
    }

    shadow {
        color "#00000080"
    }

    tab-indicator {
        active-color "{{color4}}"
        inactive-color "{{color8}}"
        urgent-color "{{color1}}"
    }

    insert-hint {
        color "{{color4}}80"
    }
}

overview {
    backdrop-color "{{color0}}e0"
}
