@define-color surface-tint #ffb1c1;
@define-color secondary #f5b7b1;
@define-color surface #1d1012;
@define-color on-surface #f7dce0;
@define-color primary #ffb1c1;
@define-color on-primary #660029;
@define-color secondary-fixed #ffdad6;

