@define-color surface-tint #bcc2ff;
@define-color secondary #cbc1e9;
@define-color surface #12131c;
@define-color on-surface #e2e1ef;
@define-color primary #bcc2ff;
@define-color on-primary #00169d;
@define-color secondary-fixed #e7deff;

