@define-color surface-tint #00d9f9;
@define-color secondary #a7cce1;
@define-color surface #091518;
@define-color on-surface #d8e5e9;
@define-color primary #00d9f9;
@define-color on-primary #00363f;
@define-color secondary-fixed #c3e8fe;

