@define-color surface-tint #69d3ff;
@define-color secondary #aec9e6;
@define-color surface #0a151a;
@define-color on-surface #d9e4eb;
@define-color primary #69d3ff;
@define-color on-primary #003546;
@define-color secondary-fixed #cde5ff;

