layout {
    background-color "transparent"

    focus-ring {
        active-color   "#69d3ff"
        inactive-color "#879299"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#69d3ff"
        inactive-color "#879299"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#69d3ff"
        inactive-color "#879299"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#69d3ff80"
    }
}