layout {
    background-color "transparent"

    focus-ring {
        active-color   "#00d9f9"
        inactive-color "#869396"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#00d9f9"
        inactive-color "#869396"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#00d9f9"
        inactive-color "#869396"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#00d9f980"
    }
}