layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb1c1"
        inactive-color "#a28b8e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb1c1"
        inactive-color "#a28b8e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb1c1"
        inactive-color "#a28b8e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb1c180"
    }
}