// =============================================================================
//  Startup Applications & Autostart Services
// =============================================================================
// panel and wallpaper
spawn-at-startup "swaybg" "-i" "/home/rsh/.config/niri/niri.d/1.png" "-m" "fill"

spawn-at-startup "wayle" "panel" "start"

spawn-at-startup "brightnessctl" "s" "80%"

// Sync Wayland display variables with D-Bus and systemd for portals & file picker

// spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "DISPLAY" "XDG_SESSION_TYPE"

// Main autostart script

spawn-at-startup "sh" "-c" "~/.config/autostart-script/wm-autostart.sh"

