// =============================================================================
//  Startup Applications & Autostart Services
// =============================================================================

// Main autostart script
spawn-at-startup "brightnessctl" "s" "80%"
spawn-at-startup "sh" "-c" "~/.config/wm-script/autostart.sh"


spawn-at-startup "swaybg" "-i" "/home/rsh/.config/niri/niri.d/1.png" "-m" "fill"

// Additional background services can be added below:
// spawn-at-startup "waybar"
// spawn-at-startup "mako"
