// =============================================================================
//  Input Devices & Pointer Behavior
// =============================================================================

input {
    // Modifier Key used for window management shortcuts (Super = Windows key)
    mod-key "Super"

    // Mouse Focus Behavior
    focus-follows-mouse max-scroll-amount="40%"

    // Keyboard Configuration
    keyboard {
        xkb {
            // Options: "us", "de", "colemak_dh_ortho"
            // layout "us"
            // variant ""
            // options "compose:ralt,ctrl:nocaps"
            // model ""
            // rules ""
            // file "~/.config/keymap.xkb"
        }

        // Enable NumLock on startup
        numlock

        // Key Repeat Settings (Balanced & comfortable)
        repeat-delay 250
        repeat-rate 35
        // track-layout "global"
    }

    // Touchpad Configuration
    touchpad {
        // Disable touchpad while typing
        dwt
        dwtp

        // Pointer Acceleration & Speed (-1.0 to 1.0)
        accel-speed 0.6
        // accel-profile "flat"

        // Scrolling & Clicking
        scroll-method "two-finger"
        click-method "clickfinger"
        // natural-scroll
        // scroll-factor 1.0

        // Tap & Drag Options
         tap
         drag true
         //drag-lock
         tap-button-map "left-right-middle"

        // Additional Options
         left-handed
        // disabled-on-external-mouse
         middle-emulation
    }

    // Mouse Configuration
    mouse {
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-factor 1.0
        // scroll-method "no-scroll"
        // left-handed
        // middle-emulation
    }

    // Trackpoint Configuration
    trackpoint {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
    }

    // Trackball Configuration
    trackball {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    // Graphics Tablet Mapping
    tablet {
        map-to-output "eDP-1"
        // left-handed
    }

    // Touchscreen Mapping
    touch {
        map-to-output "eDP-1"
    }
}
