// =============================================================================
//  Shoelace Modular Colors (sl_colors.kdl)
// =============================================================================

layout {
    background-color "#191724"

    border {
        active-color "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color "#eb6f92"
    }

    focus-ring {
        active-color "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color "#eb6f92"
    }

    shadow {
        color "#00000080"
    }

    tab-indicator {
        active-color "#c4a7e7"
        inactive-color "#6e6a86"
        urgent-color "#eb6f92"
    }

    insert-hint {
        color "#c4a7e780"
    }
}

overview {
    backdrop-color "#191724e0"
}
