
@define-color foreground #e2e1ef;
@define-color background #12131c;
@define-color cursor #e2e1ef;

@define-color color0 #12131c;
@define-color color1 #ffb2b9;
@define-color color2 #91002f;
@define-color color3 #0022db;
@define-color color4 #0000ef;
@define-color color5 #494263;
@define-color color6 #bec2ff;
@define-color color7 #e2e1ef;
@define-color color8 #c6c5d3;
@define-color color9 #ffb2b9;
@define-color color10 #91002f;
@define-color color11 #0022db;
@define-color color12 #0000ef;
@define-color color13 #494263;
@define-color color14 #bec2ff;
@define-color color15 #12131c;

