
@define-color foreground #f7dce0;
@define-color background #1d1012;
@define-color cursor #f7dce0;

@define-color color0 #1d1012;
@define-color color1 #ffb3b4;
@define-color color2 #920024;
@define-color color3 #90003d;
@define-color color4 #0000ef;
@define-color color5 #673b37;
@define-color color6 #bec2ff;
@define-color color7 #f7dce0;
@define-color color8 #dac0c4;
@define-color color9 #ffb3b4;
@define-color color10 #920024;
@define-color color11 #90003d;
@define-color color12 #0000ef;
@define-color color13 #673b37;
@define-color color14 #bec2ff;
@define-color color15 #1d1012;

