
@define-color foreground #d9e4eb;
@define-color background #0a151a;
@define-color cursor #d9e4eb;

@define-color color0 #0a151a;
@define-color color1 #ffb2b9;
@define-color color2 #91002f;
@define-color color3 #004d64;
@define-color color4 #0000ef;
@define-color color5 #2e4961;
@define-color color6 #bec2ff;
@define-color color7 #d9e4eb;
@define-color color8 #bdc8cf;
@define-color color9 #ffb2b9;
@define-color color10 #91002f;
@define-color color11 #004d64;
@define-color color12 #0000ef;
@define-color color13 #2e4961;
@define-color color14 #bec2ff;
@define-color color15 #0a151a;

