
@define-color foreground #d8e5e9;
@define-color background #091518;
@define-color cursor #d8e5e9;

@define-color color0 #091518;
@define-color color1 #ffb2b9;
@define-color color2 #91002f;
@define-color color3 #004e5b;
@define-color color4 #0000ef;
@define-color color5 #274b5d;
@define-color color6 #bec2ff;
@define-color color7 #d8e5e9;
@define-color color8 #bcc9cc;
@define-color color9 #ffb2b9;
@define-color color10 #91002f;
@define-color color11 #004e5b;
@define-color color12 #0000ef;
@define-color color13 #274b5d;
@define-color color14 #bec2ff;
@define-color color15 #091518;

