// =============================================================================
//  Shoelace Modular Colors (sl_colors.kdl)
// =============================================================================

layout {
    background-color "{{palette.bg}}"

    border {
        active-color "{{borders.active}}"
        inactive-color "{{borders.inactive}}"
        urgent-color "{{borders.urgent}}"
    }

    focus-ring {
        active-color "{{borders.active}}"
        inactive-color "{{borders.inactive}}"
        urgent-color "{{borders.urgent}}"
    }

    shadow {
        color "{{palette.shadow}}"
    }

    tab-indicator {
        active-color "{{borders.active}}"
        inactive-color "{{borders.inactive}}"
        urgent-color "{{borders.urgent}}"
    }

    insert-hint {
        color "{{borders.active}}80"
    }
}

overview {
    backdrop-color "{{palette.overlay_backdrop}}"
}
