include "niri.d/input.kdl"
include "niri.d/layout.kdl"
include "niri.d/window-rule-round-edge.kdl"
include "dms/colors.kdl"
include "niri.d/keybinds.kdl"
include "niri.d/env.kdl"
include "niri.d/csd.kdl"
include "niri.d/exec.kdl"
include "niri.d/animation.kdl"
include "niri.d/window-rules.kdl"
