// =============================================================================
//  Shoelace Modular Appearance (sl_appearance.kdl)
// =============================================================================

layout {
    struts {
        top {{gaps.top}}
        bottom {{gaps.bottom}}
        right {{gaps.right}}
        left {{gaps.left}}
    }
}

window-rule {
    geometry-corner-radius {{{geometry.border_radius}}}
    clip-to-geometry true

    border {
        width {{geometry.border_width}}
    }

    focus-ring {
        width {{geometry.border_width}}
    }
}

{{#window_rules}}
window-rule {
    match {{match}}
    opacity {{opacity}}
    draw-border-with-background {{draw_border_with_background}}
{{#shadow_softness}}
    shadow {
        on
        softness {{shadow_softness}}
        spread {{shadow_spread}}
        offset x={{shadow_offset_x}} y={{shadow_offset_y}}
    }
{{/shadow_softness}}
}
{{/window_rules}}
